* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.topo {
    height: 60px;
    background: black;
}

.meio {
    display: flex;
    flex: 1;
}

.lateral {
    width: 120px;
    background: #e79ab0;
}

.conteudo {
    flex: 1;
    background: #ddd3a3;
}

.rodape {
    height: 80px;
    background: #b57b57;
}